.page__auth_link {
    width: 358px;
    height: 17px;
    left: 461px;
    top: 623px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}